body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 13%;
  left: 4%;
  right: 4%;
  bottom: 10%;
  /* width: 100%; */
}

h1 {
  font-family: "Lucida Console", Courier, monospace;
  font-style: oblique;
  text-align: center;
}

h2 {
  font-family: "Lucida Console", Courier, monospace;
  font-style: oblique;
  text-align: center;
}
p {
  font-family: "Lucida Console", Courier, monospace;
  font-style: normal;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  text-align: center;
}
